// *COLORS
$main-color: #0c7cec;
$secondary-color: #1c1c1c;
$tertiary-color: #797979;


// *FONT
// *font sizes
$main-font-size: 0.6rem;
$secondary-font-size: 0.5rem;
$blue-border-btn-font-size: 0.8rem;

// *h's font size
$h4-font-sizes: 0.8rem;

// *font weight
$main-font-weight: 700;

// *PADDINGS
$section-padding: 2.5rem 0;
$footer-top-left-padding: 2rem 0;
$footer-bottom-padding: 1.5rem 0;
$blue-border-btn-padding: 0.7rem;

// *SIZES
// *widths
$footer-bottom-sites-img-width: 1.5rem;

// *heights