// *COLORS
$main-color: #0c7cec;
$secondary-color: #1c1c1c;


// *FONT
// *font sizes
$main-font-size: 0.6rem;
$secondary-font-size: 0.5rem;

// *h's font sizes
$h4-font-sizes: 0.8rem;

// *font weight
$main-font-weight: 700;

// *PADDINGS
$section-padding: 2.5rem 0;
$footer-top-left-padding: 2rem 0;